
<!-- Back button with a default href -->
<ion-header>
  <ion-toolbar>
    <ion-title>About us</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <div text-center>
      <ion-img src="/assets/imgs/logo.png" ></ion-img>
  </div>

  <ion-text>{{p1}}</ion-text>
</ion-content>
