
<!-- Back button with a default href -->
<ion-header>
  <ion-toolbar>
    <ion-title>contact us</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content padding>

</ion-content>
