<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-card-header>

        <ion-card-title>Welcome to Hotel Paradise</ion-card-title>
      </ion-card-header>

        <ion-img src="/assets/imgs/logo.png" ></ion-img>

    </ion-card>
    <!-- List of Text Items-->
  <ion-list>
    <ion-list-header>Dishes</ion-list-header>
    <!--
      <ion-item>Soups</ion-item>
      <ion-item>Noodles</ion-item>
      -->
      <ion-item>Pizza</ion-item>
      <ion-item>Chicken</ion-item>

    <ion-list-header>Soup</ion-list-header>
      <ion-item>Vegetable soup</ion-item>
        <ion-item>Tomato soup</ion-item>

      <ion-list-header>Noodles</ion-list-header>
      <ion-item>Egg noodles</ion-item>
        <ion-item> Chicken noodles</ion-item>

  </ion-list>
</ion-content>
