.welcome-card ion-img{
  max-height: 35vh;
  overflow: hidden;
  width:50%;
}
ion-img{
margin-left: 20%
}
ion-list-header{
  text-decoration: none;
  font-style: normal;
}
ion-card-title{
  font-size: 120%;
  text-align: center;
}
